discord_token: "XXXXXXXXXXXXXXXXXXXXXXXX.YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY"
channels:
  - id: 994879282000167026
    webhook: "https://discord.com/api/webhooks/123456789012345678/XXXXXXXXXXXXXXXXXXXX"
  - id: 994879341643169886
    webhook: "https://discord.com/api/webhooks/234567890123456789/XXXXXXXXXXXXXXXXXXXX"
  - id: 835786195496599562
    webhook: "https://discord.com/api/webhooks/345678901234567890/XXXXXXXXXXXXXXXXXXXX"
